body {
    background-color: #2a2f47;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.avatar {
    width: 300px;
    border-radius: 500px;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 400px) {
    .avatar {
        width: 90%;
    }
}

.about {
    color: white;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    margin-bottom: 3rem;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 700px) {
    .about {
        width: 100%;
    }
}

.center {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    padding: 0.5rem;
    color: white;
    width: 64px;
}

.icon:hover {
    color: #ff9aa2;
}
