body, html {
    position: relative;
    height: 100%;
}

body {
    background-color: #2a2f47;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}




.avatar {
    width: 300px;
    border-radius: 500px;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 400px) {
    .avatar {
        width: 90%;
    }
}

p {
    color: white;
    font-family: Roboto, sans-serif;
}

.text {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}

.about {
    font-size: 16px;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 700px) {
    .text {
        width: 100%;
    }
}

.center {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    padding: 0.5rem;
    color: white;
    width: 64px;
}

.icon:hover {
    color: #ff9aa2;
}
