body {
    background-color: #2a2f47;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.avatar {
    width: 300px;
    border-radius: 500px;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 400px) {
    .avatar {
        width: 90%;
    }
}

.about {
    color: white;
    font-size: 1.5rem;
    font-family: Roboto, sans-serif;
    margin-bottom: 3rem;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 700px) {
    .about {
        width: 100%;
    }
}

.center {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    padding: 0.5rem;
    color: white;
    width: 64px;
}

.icon:hover {
    color: #ff9aa2;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #333333;
    border-radius: 5px;
    width: 550px;
    position: relative;
    transition: all 0.1s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #ff9aa2;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 500ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.popup .close:hover {
    color: #ff9aa2;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    color: #eeeeee;
}

.text {
    font-family: monospace;
    font-size: medium;
    white-space: pre-wrap;
    -moz-user-select: all;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.centerPopup {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .box {
        width: 90%;
    }

    .popup {
        width: 90%;
    }
}
